<div class="readme-container">
  <!-- Title -->
  <h1>GUIA DE APLICAÇÃO CRUD ANGULAR / SPRING BOOT</h1>

  <!-- Description -->
  <section class="section">
    <h2>Descrição.: </h2>
    <p>Este projeto demonstra um aplicativo CRUD básico, (Criar, Ler, Atualizar e Excluir).
    Estas são as funções essenciais de qualquer sistema de armazenamento persistente,
    permitindo aos usuários gerenciar dados de forma eficaz.</p>
  </section>

  <section class="section">
    <h2>Funcionalidades.: </h2>
    <ul>
      <li>Criar: Adicionar novos registros de dados.</li>
      <li>Ler: Visualizar ou recuperar registros de dados existentes.</li>
      <li>Atualizar: Modificar registros de dados existentes.</li>
      <li>Deletar: Remover registros de dados permanentemente.</li>
    </ul>
  </section>

  <section class="section">
    <h2>Como utilizar.: </h2>
    <p>Para realizar operações CRUD, siga estas ações básicas:</p>
    <ol>
      <li><strong>Criar:</strong> Use o formulário para adicionar novas entradas.</li>
      <li><strong>Ler:</strong> Visualize as entradas exibidas em uma tabela de dados.</li>
      <li><strong>Atualizar:</strong> Selecione uma entrada e edite seus detalhes.</li>
      <li><strong>Deletar:</strong> Remova uma entrada permanentemente usando o botão de exclusão.</li>
    </ol>
    <p>A aba menu no canto superior esquerdo da bara de navegação oferece o mesmo crud em duas interfaces de dados diferentes,
       uma utilizando banco de dado relacional, POSTGRESQL, outra utilizando MONGODB.
    </p>
  </section>


  <section class="section">
    <h2>Tecnologias Utilizadas.: </h2>
    <ol>
      <li>Angular</li>
      <li>Angular Material</li>
      <li>Typescript</li>
      <li>HTML & CSS</li>
      <li>Spring boot</li>
      <li>Docker</li>
      <li>Postgres</li>
      <li>MongoDB</li>
    </ol>
  </section>
</div>
